.additional-options {
  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.additional-options__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.additional-options__list-item {
  flex-basis: 50%;
}

.additional-options__list-item-sweetener-label,
.additional-options__list-item-water-label,
.additional-options__list-item-milk-label,
.additional-options__list-item-vitamins-label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
