.additional-options__list-item-sweetener-label,
.additional-options__list-item-water-label,
.additional-options__list-item-milk-label,
.additional-options__list-item-vitamins-label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
