.additional-form {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.additional-form__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}
