.button-grey {
  background-color: $basic_grey;
  color: $special-dark-grey;
  text-decoration: none;
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
}
