.cat-info__list {
  list-style: none;
}

.cat-info-list__item-cat-name-label,
.cat-info-list__item-cat-weight-label,
.cat-info-list__item-cat-age-label {
  font-size: 16px;
  text-transform: uppercase;
}

.cat-info-list__item-cat-name,
.cat-info-list__item-cat-weight,
.cat-info-list__item-cat-age {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
