.comment__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.comment__text {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
