.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts__title {
  font-size: 16px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: Arial, sans-serif;
  font-style: normal;
  color: $special-dark-grey;
}
