.example {
  background-color: #eaeaea;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
  grid-template-columns: 1fr;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
}

.example__text {
  font-family: Arial, sans-serif;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: $tablet-width) {
    justify-content: space-around;
  }
}

.example__stats-summary {
  text-transform: uppercase;
}

.example__before,
.example__after {
  font-size: 16px;
  text-transform: uppercase;
}

.example__stats-list {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  @media (min-width: $tablet-width) {
    flex-basis: auto;
  }
}

.example__compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 4 / 2;
  }
}
