.form__title {
  font-size: 36px;
  font-weight: 400;
}

.form__description {
  text-transform: uppercase;
}

.form__note {
  font-family: Arial, sans-serif;
  font-style: normal;
}

.form__submit-button {
  align-self: center;
  @media (min-width: $desktop-width) {
    align-self: flex-start;
  }
}

.form__note {
  align-self: center;
  @media (min-width: $desktop-width) {
    align-self: flex-start;
  }
}
