.goods-list__item-info-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.goods-list__item-info-quantity {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: $special-dark-grey;
}

.goods-list__item-info-price {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: $special-dark-grey;
}
