.how-it-works__title {
  font-size: 36px;
  font-weight: 400;
}

.how-it-works__list {
  list-style: none;
}

.how-it-works__healthy-description,
.how-it-works__condition-description,
.how-it-works__diet-description,
.how-it-works__timing-description {
  font-family: Arial, sans-serif;
}
