.options__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options__list-item {
  background-color: #D9D9D9;
}

.options__slim-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.options__slim-description {
  font-family: Arial, sans-serif;
}

.options__slim-link {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.options__pro-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.options__pro-description {
  font-family: Arial, sans-serif;
}

.options__pro-link {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
