.owner-info__title {
  font-size: 24px;
  font-weight: 400;
}

.owner-info-list__item-email-label,
.owner-info-list__item-tel-label {
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
}
