.page {
  height: 100%;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $background_white;
  color: $black;
}
