.products__card-description-heading {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.products__card-description-list-name {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: $special-dark-grey;
}

.products__card-description-list-value {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: $special-dark-grey;
}
