.stats-list {
  list-style: none;
  padding: 0;
}

.stats-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-list__item-weight,
.stats-list__item-days {
  font-size: 24px;
}

.stats-list__item-weight-note,
.stats-list__item-days-note {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
