.stats-list {
  list-style: none;
}

.stats-list-item__weight,
.stats-list-item__days {
  font-size: 24px;
}

.stats-list-item__weight-note,
.stats-list-item__days-note {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
