$basic_grey: #F2F2F2;
$special_grey: #CDCDCD;
$special_grey-2: #EBEBEB;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #FF8282;
$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$background_white: #FFFFFF;
