@import "./fonts.scss";
@import "./colors.scss";
@import "./viewports.scss";
@import "./blocks/page.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/promo.scss";
@import "./blocks/example.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/button-green.scss";
@import "./blocks/button-grey.scss";
@import "./blocks/options.scss";
@import "./blocks/how-it-works.scss";
@import "./blocks/stats-list.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/site-list.scss";
@import "./blocks/form.scss";
@import "./blocks/cat-info.scss";
@import "./blocks/form-cat-options.scss";
@import "./blocks/owner-info.scss";
@import "./blocks/comment.scss";
@import "./blocks/additional.scss";
@import "./blocks/additional-options.scss";
@import "./blocks/page-main.scss";
@import "./blocks/products.scss";
@import "./blocks/more.scss";
@import "./blocks/goods-list.scss";
@import "./blocks/page-header.scss";
@import "./blocks/social.scss";
@import "./blocks/catalog.scss";

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
